{% if cart.item_count > 0 %}
  


  <section class="main-cart-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <h1 class="title">{{ 'cart.general.title' | t }}</h1>

                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6 col-sm-12">
                            <div class="row">
                                <div class="cart-info-title">
                                    <div class="col-md-4 col-sm-5 col-xs-12">
                                        <div class="cart-info-title">Price</div>
                                    </div>
                                    <div class="col-md-4 col-sm-2 col-xs-12">
                                        <div class="cart-info-title qty-title">QUANTITY</div>
                                    </div>
                                    <div class="col-md-4 col-sm-5 col-xs-12">
                                        <div class="cart-info-title total-title">TOTAL</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border-line"></div>
                    <div class="cart-item-wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-5 col-sm-4 col-xs-12">
                                        <img src="images/image-product-03.jpg" class="cart-product-image" alt="cart-product-image">
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                        <div class="cart-product-description-wrap">
                                            <h4 class="product-name">FLAWLESS FOUNDATION</h4>
                                            <p>Shade: W2 Ivory</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 col-sm-2 col-xs-12">
                                        <div class="cart-product-price">$39.95</div>
                                    </div>
                                    <div class="col-md-4 col-sm-2 col-xs-12">
                                        <div class="cart-product-qty">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            <input class="number-product" type="number" value="2" min="1">
                                            <span class="glyphicon glyphicon-minus"></span>
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-2 col-xs-12">
                                        <div class="cart-product-total">$79.90</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cart-item-wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-5 col-sm-4 col-xs-12">
                                        <img src="images/image-product-03.jpg" class="cart-product-image" alt="cart-product-image">
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                        <div class="cart-product-description-wrap">
                                            <h4 class="product-name">FLAWLESS CONCEALER</h4>
                                            <p>Shade: 02 Porcelain Beige</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 col-sm-2 col-xs-12">
                                        <div class="cart-product-price">$24.95</div>
                                    </div>
                                    <div class="col-md-4 col-sm-2 col-xs-12">
                                        <div class="cart-product-qty">

                                            <span class="glyphicon glyphicon-plus"></span>

                                            <input class="number-product" type="number" value="2" min="1">

                                            <span class="glyphicon glyphicon-minus"></span>

                                            <span class="glyphicon glyphicon-remove"></span>
                                        </div>

                                    </div>
                                    <div class="col-md-4 col-sm-2 col-xs-12">
                                        <div class="cart-product-total">$24.95</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="discoun-cart">
                        <div class="row">
                            <div class="col-sm-7 col-xs-12">
                                <div class="discoun-wrapper">
                                    <p class="discount-text">Gift card or discount code? Add it at the payment step</p>
                                    <p class="delivery">Delivery notes</p>
                                    <textarea class="text-notes"></textarea>
                                    <p class="secure-payment">100% Secure paymrnt</p>
                                    <div class="payment-systems">
                                        <img src="images/icon-payment-visa-light.svg" class="icon-payment" alt="cart-product-image">
                                        <img src="images/icon-payment-mastercard-light.svg" class="icon-payment" alt="cart-product-image">
                                        <img src="images/icon-payment-amex-light.svg" class="icon-payment" alt="cart-product-image">
                                        <img src="images/icon-payment-paypal-light.svg" class="icon-payment" alt="cart-product-image">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5 col-xs-12">
                                <div class="total-wrapper">
                                    <span class="total-sum">Total
                                        <span class="sum">$124.80</span>
                                    </span>
                                    <div class="price-button">
                                        <a class="btn add-to-bag" href="#">YOU QUALIFY FOR
                                         <span class="free">FREE SHIPPING!</span>
                                        </a>
                                    </div>
                                    <div class="text-order">
                                        <span>Complete your order and earn
                                            <span class="text-order-style">55 points for discount</span> on a future purchase
                                        </span>
                                    </div>
                                    <div class="price-button">
                                        <a class="btn add-to-securely" href="#">CONTINUE SECURELY</a>
                                    </div>
                                    <div class="shopping-back">
                                        <a class="return-to-shopping" href="#">OR KEEP SHOPPING</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <form action="/cart" method="post" novalidate>
    <table class="responsive-table">
      <thead class="small--hide">
        <tr>
          <th colspan="2">{{ 'cart.label.product' | t }}</th>
          <th>{{ 'cart.label.price' | t }}</th>
          <th>{{ 'cart.label.quantity' | t }}</th>
          <th>{{ 'cart.label.total' | t }}</th>
        </tr>
      </thead>
      <tbody>

        {% for item in cart.items %}

        {% comment %}

        Cart Item Template
        =====================
        The data-label attributes on <td> elements are mobile-friendly
        helpers used for responsive-table labels
        {% endcomment %}

          <tr class="responsive-table-row">

            <td data-label="{{ 'customer.order.product' | t }}">

              {% if item.image != blank %}
                <a href="{{ item.url | within: collections.all }}">
                  {{ item | img_url: '240x240' | img_tag: item.title }}
                </a>
              {% endif %}

            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>

              {% unless item.product.has_only_default_variant %}
                <p>{{ item.variant.title }}</p>
              {% endunless %}

              <p>{{ item.vendor }}</p>

              {%- assign property_size = item.properties | size -%}

              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                  {{ p.first }}:

                  {% if p.last contains '/uploads/' %}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                    {{ p.last }}
                  {% endif %}

                  {% endunless %}
                {% endfor %}
              {% endif %}

              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>
            </td>
            <td data-label="{{ 'cart.label.price' | t }}">
              {% if item.original_line_price != item.line_price %}
                <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                {{ item.price | money }}
                <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                <s>{{ item.original_price | money }}</s>
              {% else %}
                {{ item.price | money }}
              {% endif %}
            </td>
            <td data-label="{{ 'cart.label.quantity' | t }}">
              <input type="number"
                     name="updates[]"
                     id="updates_{{ item.key }}"
                     value="{{ item.quantity }}"
                     min="0"
                     aria-label="{{ 'cart.general.item_quantity' | t }}">
            </td>
            <td data-label="{{ 'cart.label.total' | t }}">
              {{ item.line_price | money }}
            </td>
          </tr>

        {% endfor %}
      </tbody>
    </table>

    {% if settings.cart_notes_enable %}
      <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
      <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
    {% endif %}

    <p>{{ 'cart.general.subtotal' | t }}</p>
    <p>{{ cart.total_price | money }}</p>
    {% if cart.total_discounts > 0 %}
      <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
    {% endif %}
    <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
    <input type="submit" name="update" value="{{ 'cart.general.update' | t }}">
    <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">
  </form>
{% else %}



  <h1>{{ 'cart.general.title' | t }}</h1>

  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
{% endif %}
